.toggle {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.toggle::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 22px;
}

.toggle:checked::after {
  content: "\2714";
  text-align: center;
  font-size: 22px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 4px;
  border-radius: 50%;
  color: rgba(0, 255, 0, 0.288);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
